extends ../layout

block content
  div(class='jumbotron')
    .container
      h1(class='display-3') Projetos

  .container

    .d-flex.bd-highlight.mb-3
      .mr-auto.p-2.bd-highlight
      .p-2.bd-highlight
        a(href='/project/new', class='btn btn-primary') Criar novo projeto

    - for (x = 0; x < 5; x++)
      hr
      .d-flex.bd-highlight
        .mr-auto.p-2.bd-highlight
          a(href='/')
            h4 Nome do projeto
        .p-2.bd-highlight
          p Fluxos
            span.badge.badge-secondary.ml-2 10
        .p-2.bd-highlight
          p Telas
            span.badge.badge-secondary.ml-2 10
        .p-2.bd-highlight
          p Bugs
            span.badge.badge-secondary.ml-2 10
    hr

