extends ../layout

block content

  div(class='jumbotron')
    .container
      h1(class='display-3') Novo projeto
      p Preencha o formulário abaixo para criar o projeto

  .container
    form(method='post', action='/project/new')

      .form-group
        label(for='name') Nome
        input(type='text', class='form-control', name='name', placeholder='Nome do projeto')

      .form-group
        label(for='description') Descrição
        textarea(class='form-control', name='description', rows='3')

      button(type='submit', class='btn btn-primary') Criar projeto
