extends layout

block content
  div(class='jumbotron')
    .container
      h1(class='display-3') Bem vindo ao Bug Tracker
      p O Bug Tracker é uma ferramenta criada para auxiliar no controle e correção dos bugs encontrados por acessibilidade. Caso você ainda não seja cadastrado, por favor, cadastre-se clicando no botão abaixo.
      a(class='btn btn-primary btn-lg text-light', href='/person/signup') Cadastre-se
