extends ../layout

block content
  div(class='jumbotron')
    .container
      h1(class='display-3') Entrar
      p Preencha o formulário abaixo para entrar no sistema

  .container
    form
      .form-group
        label(for='email') Email
        input(type='email', class='form-control', id='email', placeholder="email@itau-unibanco.com.br")
      .form-group
        label(for='password') Senha
        input(type='password', class='form-control', id='password', placeholder="Sua senha")
      button(type='submit', class='btn btn-primary') Entrar
