extends ../layout

block content
  div(class='jumbotron')
    .container
      h1(class='display-3') Cadastre-se
      p Preencha o formulário abaixo para se cadastrar no sistema

  .container
    #{ error }
    form(method='post', action='/user/signup')
      .form-group
        label(for='name') Nome completo
        input(type='text', class='form-control', name='name', placeholder="Fulano da Silva")
      .form-group
        label(for='email') Email
        input(type='email', class='form-control', name='email', placeholder="email@itau-unibanco.com.br")
      .form-group
        label(for='password') Senha
        input(type='password', class='form-control', name='password', placeholder="Sua senha")
      button(type='submit', class='btn btn-primary') Cadastrar

